.date-picker-panel{
    position: absolute;
    left: 25px;
    margin: 5px 0;
    width: 220px;
    min-width: 254px;
    line-height: 1.5;
    color: #48576a;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    box-shadow: 0 2px 6px #ccc;
    background: #fff;
    .date-picker-wrapper{
        .date-picker-main{
            .date-picker-header{
                margin: 12px;
                vertical-align: baseline;
                line-height: 1.5;
                text-align: center;
                .date-picker-icon{
                    position: absolute;
                    top: 9px;
                    font-size: 22px;
                    font-family: cursive;
                    font-style: normal;
                    color: #97a8be;
                    cursor: pointer;
                    background: transparent;
                }
                .date-pre-y{
                    left: 15px;
                    letter-spacing: -5px;
                }
                .date-pre-m{
                    left: 45px;
                }
                .date-setym{
                    display: inline-block;
                    padding: 0 5px;
                    font-size: 16px;
                    cursor: pointer;
                }
                .date-next-m{
                    right: 45px;
                }
                .date-next-y{
                    right: 15px;
                    letter-spacing: -5px;
                }
            }
            .date-picker-content{
                margin: 0 15px;
                .date-table{
                    font-size: 14px;
                    th{
                        padding: 5px;
                        color: #8391a5;
                    }
                    td{
                        width: 32px;
                        height: 32px;
                        padding: 5px;
                        text-align: center;
                        box-sizing: border-box;
                        cursor: pointer;
                    }
                    .date-picker-table-row{
                        td:hover{
                            background-color: rgba(161, 238, 18, 0.94);
                            border: none;
                            border-radius: 50%;
                        }
                    }
                    .fade{
                        color: #ccc;
                    }
                    .today{
                        background-color: #20a0ff!important;
                        color: #fff;
                    }
                }
            }
        }
    }
}
